@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";

    List<NeighbourhoodRank.Affluence> affluences = (List<NeighbourhoodRank.Affluence>)ViewData["affluence"];
}

@foreach(NeighbourhoodRank.Affluence affluence in affluences)
{
    <tr>
        <td>@affluence.Zip</td>
    </tr>
}